.headerimage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;

}

.ulheader {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 95vw;
  color:deepskyblue;
}

.fiche {
  background-image: url(../images/genouillèresVolley.jpg);
  background-size: 100vw;
}

.etiquette {
  color: deepskyblue;
}

.obligatoire {
  text-decoration: blue;
  text-align: center;
}

.entete {
 color: deepskyblue;
}
.inscription {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: end;
}

body{
    background-color: rgb(227, 228, 229);
    color:aliceblue
}

.authentification{
    color: deepskyblue;
    margin-left: 25vw;
    background-image: url(../images/clefs.jpg);
    background-size: 60vw;
    margin-right: 25vw;
    height: 40vw;
    background-position: 15vw;
    width: 50vw;
}

.ficheauthentif{
   
    background-position: right;
    background-size: 5vw;
    display: flex;
    text-align: left;
    width: 30vw;
    color:deepskyblue;
    }

.authentif {
    color: rgb(201, 36, 36);
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: 15vw;
}

.pass {
  color:blue;
  
}